header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 50px;
    padding-inline: 10px;
    background-color: darkcyan;
    color: aliceblue;
    
    a {
        color: aliceblue;
        margin-inline-start: 1em;
    }
    a.active {
        color: green;
    }
}